<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title th:text="${pageTitle} ?: 'Default Title'"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
<th:block th:fragment="header">
    <header>
        <nav class="navbar bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand">username with roles: ADMIN USER</a>
                <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
            </div>
        </nav>
    </header>
</th:block>