<th:block th:insert="~{fragments/header}"></th:block>
<div class="container-fluid row">
    <div class="col-12 col-md-2 d-flex flex-column flex-shrink-0">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item" th:if="${currentUser != null and currentUser.authorities.?[#this.authority == 'ADMIN'].size() > 0}">
                <a href="/admin" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="/admin"></use></svg>
                    Admin
                </a>
            </li>
            <li>
                <a href="/profile" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="/profile"></use></svg>
                    User
                </a>
            </li>
        </ul>
    </div>
    <div class="col">
        <h2 th:text="${pageTitle} ?: 'Default Title'"></h2>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" th:href="@{/admin}">Users
                            table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/new}">New User</a>
                    </li>
                </ul>
            </div>
            <div class="card-header text-start">
                <h3>All users</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.firstname}"></td>
                            <td th:text="${user.lastname}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${#strings.setJoin(user.roles, ' ')}"></td>
                            <td>
                                <button type="button" class="btn btn-info editBtn"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editModal"
                                        data-title="Edit user"
                                        data-action="edit"
                                        th:data-id="${user.id}"
                                        th:data-username="${user.username}"
                                        th:data-firstname="${user.firstname}"
                                        th:data-lastname="${user.lastname}"
                                        th:data-email="${user.email}"
                                        th:data-roles="${#strings.setJoin(user.roles, ',')}">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger editBtn"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editModal"
                                        data-title="Delete user"
                                        data-action="delete"
                                        th:data-id="${user.id}"
                                        th:data-username="${user.username}"
                                        th:data-firstname="${user.firstname}"
                                        th:data-lastname="${user.lastname}"
                                        th:data-email="${user.email}"
                                        th:data-roles="${#strings.setJoin(user.roles, ',')}">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form id="modalForm" th:action="@{/admin/edit}" method="post">
                <div class="modal-body">
                    <div class="col-md-8 col-sm-10 col-12 text-center fw-bold mx-auto">
                    <label for="id" class="form-label">ID</label>
                    <input id="id" type="text" class="form-control mb-3" disabled/>
                    <input type="hidden" id="hiddenId" name="id"/>

                    <label for="username" class="form-label">Username</label>
                    <input id="username" type="text" name="username" class="form-control mb-3"/>

                    <label for="firstname" class="form-label">Firstname</label>
                    <input id="firstname" type="text" name="firstname" class="form-control mb-3"/>

                    <label for="lastname" class="form-label">Lastname</label>
                    <input id="lastname" type="text" name="lastname" class="form-control mb-3"/>

                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="email" name="email" class="form-control mb-3"/>

                    <label id="passwordLabel" for="password" class="form-label">Password</label>
                    <input id="password" type="password" name="password" class="form-control mb-3"/>

                    <label id="roleLabel" for="roles" class="form-label">Roles</label>
                    <select id="roles" name="roles" class="form-control" multiple>
                        <option th:each="role : ${roles}" th:value="${role}"
                                th:text="${role}"></option>
                    </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let editButtons = document.querySelectorAll(".editBtn");

        editButtons.forEach(button => {
            button.addEventListener("click", function () {
                let title = this.getAttribute("data-title");
                let action = this.getAttribute("data-action");
                let id = this.getAttribute("data-id");
                let username = this.getAttribute("data-username");
                let firstname = this.getAttribute("data-firstname");
                let lastname = this.getAttribute("data-lastname");
                let email = this.getAttribute("data-email");
                let roles = this.getAttribute("data-roles").split(",");

                if (action === "delete") {
                    document.querySelector("#modalForm").action = "/admin/delete";
                    document.querySelector(".modal-title").textContent = title;
                    document.querySelector(".modal-title").textContent = title;
                    document.querySelector("#id").value = id;
                    document.querySelector("#hiddenId").value = id;
                    document.querySelector("#username").value = username;
                    document.querySelector("#firstname").value = firstname;
                    document.querySelector("#lastname").value = lastname;
                    document.querySelector("#email").value = email;

                    document.querySelector("#username").disabled = true;
                    document.querySelector("#firstname").disabled = true;
                    document.querySelector("#lastname").disabled = true;
                    document.querySelector("#email").disabled = true;
                    document.querySelector("#password").hidden = true
                    document.querySelector("#passwordLabel").hidden = true
                    document.querySelector("#roles").hidden = true
                    document.querySelector("#roleLabel").hidden = true
                } else {
                    document.querySelector(".modal-title").textContent = title;
                    document.querySelector("#id").value = id;
                    document.querySelector("#hiddenId").value = id;
                    document.querySelector("#username").value = username;
                    document.querySelector("#firstname").value = firstname;
                    document.querySelector("#lastname").value = lastname;
                    document.querySelector("#email").value = email;

                    document.querySelector("#username").disabled = false;
                    document.querySelector("#firstname").disabled = false;
                    document.querySelector("#lastname").disabled = false;
                    document.querySelector("#email").disabled = false;
                    document.querySelector("#password").hidden = false
                    document.querySelector("#passwordLabel").hidden = false
                    document.querySelector("#roles").hidden = false
                    document.querySelector("#roleLabel").hidden = false

                    let roleSelect = document.querySelector("#roles");
                    Array.from(roleSelect.options).forEach(option => {
                        option.selected = roles.includes(option.value);
                    });
                }


            });
        });
    });
</script>

<th:block th:insert="~{fragments/footer}"></th:block>