<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="user : ${users}">
    <tr>
      <td th:text="${user.id}"></td>
      <form th:id="${user.id}" th:action="@{/users/edit}" method="post">
        <input type="hidden" name="id" th:value="${user.id}"/>
        <td>
          <input type="text" name="username" th:value="${user.username}"
                 th:placeholder="${user.username}"/>
        </td>
        <td>
        <input type="text" name="firstname" th:value="${user.firstname}"
               th:placeholder="${user.firstname}"/>
        </td>
        <td>
          <input type="text" name="lastname" th:value="${user.lastname}"
                 th:placeholder="${user.lastname}"/>
        </td>
        <td>
          <input type="email" name="email" th:value="${user.email}"
                 th:placeholder="${user.email}"/>
        </td>
      </form>
      <td>
        <button type="submit" th:form="${user.id}">Edit</button>
        <form th:action="@{users/delete}" method="post">
          <input type="hidden" name="username" th:value="${user.username}">
          <button type="submit" onclick="submitParentForm(event)">Remove user</button>
        </form>
      </td>
    </tr>
  </th:block>
  </tbody>
</table>
<form th:action="@{users/add}" method="post">
  <p>
    <label for="username">Username</label>
    <input id="username" type="text" name="username"/>
  </p>
  <p>
    <label for="password">Password</label>
    <input id="password" type="password" name="password"/>
  </p>
  <p>
    <label for="firstname">Firstname</label>
    <input id="firstname" type="text" name="firstname"/>
  </p>
  <p>
    <label for="lastname">Lastname</label>
    <input id="lastname" type="text" name="lastname"/></p>
  <p>
    <label for="email">Email</label>
    <input id="email" type="email" name="email"/></p>
  <p>
    <button type="submit">Add user</button>
  </p>
</form>
<script>
  function submitParentForm(event) {
    event.preventDefault();
    event.target.closest('form').submit();
  }
</script>
</body>
</html>