<th:block th:insert="~{fragments/header}"></th:block>
<div class="container-fluid row">
    <div class="col-2">.g-col-6</div>
    <div class="col-8">
        <h2>Admin Panel</h2>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">New User</a>
                    </li>
                </ul>
            </div>
            <div class="card-header text-start">
                <h3>All users</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.firstname}"></td>
                            <td th:text="${user.lastname}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.roles}"></td>
                            <td>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                        data-bs-target="#editModal">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <form th:action="@{admin/delete}" method="post">
                                    <input type="hidden" name="username"
                                           th:value="${user.username}">
                                    <button class="btn btn-danger" type="submit">Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{admin/add}" method="post">
                <div class="modal-body">

                    <p>
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username"/>
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password"/>
                    </p>
                    <p>
                        <label for="firstname">Firstname</label>
                        <input id="firstname" type="text" name="firstname"/>
                    </p>
                    <p>
                        <label for="lastname">Lastname</label>
                        <input id="lastname" type="text" name="lastname"/></p>
                    <p>
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email"/></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/footer}"></th:block>